body{
	background:url(../imagenes/ingenieriafondo2.jpg);
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size:cover;
	background-position: center;
	background-attachment: scroll;
}